<div class="modal modal__entry">
	<div class="modal__container">
		<div class="modal__wrapper">
				<div class="modal__header">
					<img class="modal__logo" src="assets/images/header/logo.svg" width="145" height="45" alt="Логотип">
				</div>
				<div class="modal__box">
					<div class="modal__box-title">Вход</div>
					<form class="modal__form" action="#">
						<input class="modal__form-input" type="text" placeholder="Логин" name="Login" value="">
						<input class="modal__form-input" type="password" placeholder="Пароль" name="Password" value="">
						<button class="btn modal__submit">Войти</button>
					</form>
					<div class="modal__you">
						<p class="modal__you-text">У вас уже есть учетная запись?</p>
						<a class="modal__you-link" href="#">Зарегистрироваться</a>
					</div>
				</div>
			</div>
			<div class="modal__close"></div>
	</div>
</div>