<div class="modal modal__success">
	<div class="modal__container">
		<div class="modal__wrapper modal__success-wrapper">
			<div class="modal__header modal__success-header">
				<img class="modal__logo" src="assets/images/header/logo.svg" width="145" height="45" alt="Логотип">
			</div>

			<div class="modal__box">
				<img class="modal__success-img" src="assets/images/modal/success.svg" width="48" height="48" alt="Готово">

				<p class="modal__subtitle modal__success-subtitle">Ваше сообщение успешно отправлено!</p>
				<p class="modal__success-text">Наш менеджер свяжется с Вами в ближайшее время!</p>
			</div>
		</div>
		<div class="modal__close"></div>
	</div>
</div>