<div class="modal modal__register">
	<div class="modal__container">
		<div class="modal__wrapper">
				<div class="modal__header">
					<img class="modal__logo" src="assets/images/header/logo.svg" width="145" height="45" alt="Логотип">
				</div>
				<div class="modal__box">
					<div class="modal__box-title">Регистрация</div>
					<form class="modal__form" action="#">
						<input class="modal__form-input" type="text" placeholder="Ваше имя" name="Name" value="">
						<input class="modal__form-input" type="text" placeholder="Фамилия" name="Surname" value="">
						<input class="modal__form-input" type="text" placeholder="Отчество" name="FatherName" value="">
						<input class="modal__form-input" type="tel" placeholder="Телефон" name="Phone" value="">
						<input class="modal__form-input" type="text" placeholder="Логин" name="Login" value="">
						<input class="modal__form-input" type="email" placeholder="Email" name="Email" value="">
						<input class="modal__form-input" type="password" placeholder="Подтверждение пароля" name="password" value="">
						<button class="btn modal__submit modal__register-btn">Войти</button>
					</form>
				</div>
			</div>
			<div class="modal__close"></div>
	</div>
</div>