.info {
	background-color: var(--bgGrayLite);
	padding: 10px 0;
	margin-bottom: 45px;
	// .info__wrapper
	&__wrapper {
	}
	// .info__box
	&__box {
		width: 100%;
		// .info__box-tabs
		&-tabs {
			display: flex;
		}
		// .info__box-tab
		&-tab {
			font-size: 16px;
			font-weight: 500;
			padding: 15px 24px;
			line-height: 150%; /* 24/16 */
			text-transform: uppercase;
			// .info__box-tab--active
			&--active {
				background-color: var(--textWhite);
			}
		}
		// .info__box-list
		&-list {
		}
		// .info__box-item
		&-item {
		}
		// .info__box-wrapper
		&-wrapper {
			display: flex;
			justify-content: space-between;
			gap: 15px;
		}
		// .info__box-table
		&-table {
			display: flex;
			flex-direction: column;
			font-size: 15px;
			font-weight: 400;
			line-height: 240%; /* 36/15 */
			width: 100%;
			max-width: 880px;
			color: var(--textGrayMedium);
			background-color: var(--textWhite);
			padding: 40px 35px 40px;
			// .info__box-table tr
			tr {
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid #d9d9d9;
			}	
		}
		// .info__box-pce
		&-pce {
			max-width: 607px;
			margin: 0 auto;

			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
		// .info__box-img
		&-img {
			max-width: 607px;
			margin: 0 auto;

			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
}	