.promo {
	// .promo__top
	&__top {
		position: relative;
		min-height: 428px;
		color: var(--textWhite);
		background-color: rgba(0, 0, 0, 0.4);
		background-image: url('../images/promo/promoBg.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (max-width: 1180px) {
			min-height: 22.2916vw;
			display: flex;
		}
		@media (max-width: 880px) {
			min-height: 34.0909vw;
		}
		@media (max-width: 440px) {
			min-height: 170px;
		}
		// .promo__top::before
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.4);
		}
		// .promo__top-container
		&-container {
			position: relative;

			@media (max-width: 1180px) {
				display: flex;
				margin: 0;
			}
		}
		// .promo__top-wrapper
		&-wrapper {
			position: relative;
			z-index: 2;
		}
		// .promo__top-request
		&-request {
			position: absolute;
			top: 100px;
			right: 0;
			margin-right: 10px;

			@media (max-width: 1180px) {
				display: none;
			}
		}
	}
	// .promo__title
	&__title {
		font-weight: 400;
		@include adaptiv-font(36, 20);
		width: 13.9444em;
		line-height: 113.888889%; /* 41/36 */
		// padding-top: 8.3333vw;
		padding-top: 174px;

		@media (max-width: 1180px) {
			display: flex;
			flex-direction: column;
			padding-top: 0;
			height: 100%;
			justify-content: center;
		}
		// .promo__title span
		span {
			font-weight: 500;
			text-transform: uppercase;
			color: var(--YellowMain);
		}
	}
	// .promo__bottom
	&__bottom {
		color: rgba(#fff, 0.5);
		background-color: var(--mainColor);
		// .promo__bottom-container
		&-container {
			display: flex;
			gap: 15px 58px;
			
			@media (max-width: 1180px) {
				justify-content: center;
			}
			@media (max-width: 880px) {
				flex-direction: column;
			}
			@media (max-width: 440px) {
				display: none;
			}
		}
	}
	// .promo__years
	&__years {
		font-size: 130px;
		width: 1.1769em;
		font-weight: 700;
		color: var(--YellowDark);
		padding: 15px 0;

		@media (max-width: 880px) {
			display: flex;
			gap: 10px;
			font-size: 90px;
			width: auto;
			padding-bottom: 0;
		}
		@media (max-width: 640px) {
			font-size: 60px;
		}
		// .promo__years span
		span {
			display: block;
		}
		// .promo__years-number
		&-number {
			line-height: 76.923%;
		}
		// .promo__years-box
		&-box {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;

			@media (max-width: 880px) {
				gap: 6px;
			}
			@media (max-width: 640px) {
				// gap: 5px;
			}
		}
		// .promo__years-year
		&-year {
			font-size: 40px;
			line-height: 90%; /* 36/40 */

			@media (max-width: 880px) {
				line-height: 100%;
				font-size: 25px;
			}
			@media (max-width: 640px) {
				font-size: 20px;
			}
		}
		// .promo__years-success
		&-success {
			font-weight: 500;
			font-size: 14px;
			line-height: 100%;
			width: 5.0714em;

			@media (max-width: 880px) {
				font-size: 25px;
				font-weight: 700;
				width: auto;
			}
			@media (max-width: 640px) {
				font-size: 20px;
			}
		}
	}
	// .promo__descr
	&__descr {
		width: 40.3666em;
		line-height: 113.333333%; /* 17/15 */
		padding: 38px 0;

		@media (max-width: 880px) {
			width: auto;
			padding-top: 0;
		}
	}
}